<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<nav th:fragment="navbar" class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a href="#" class="navbar-brand"><h1><b>Blogen</b></h1></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNav">
            <apan class="navbar-toggler-icon"></apan>
        </button>
        <div class="collapse navbar-collapse" id="myNav">
            <ul class="navbar-nav">
                <li class="nav-item active px-2">
                    <a id="dashboardLink" th:href="@{/home}" class="nav-link">Dashboard</a>
                </li>
                <li class="nav-item px-2">
                    <a id="categoryLink" th:href="@{/list-categories}" class="nav-link">Categories</a>
                </li>
                <li class="nav-item px-2">
                    <a id="postLink" th:href="@{/list-posts}" class="nav-link">Posts</a>
                </li>
                <li class="nav-item px-2">
                    <a id="userLink" th:href="@{/list-users}" class="nav-link">Users</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active px-2">
                    <a id="profileLink" href="" class="nav-link"><i class="fas fa-user mr-1"></i>Profile</a>
                </li>
                <li class="nav-item px-2">
                    <a id="settingLink" href="" class="nav-link"><i class="fas fa-cog mr-1"></i>Setting</a>
                </li>
                <li class="nav-item px-2">
                    <a id="logoutLink" href="" class="nav-link"><i class="fas fa-sign-out-alt mr-1"></i>Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>